USE [master]
GO
/****** Object:  Database [monopoly]    Script Date: 15.11.2024 15:49:57 ******/
CREATE DATABASE [monopoly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'monopoly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\monopoly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'monopoly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\monopoly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [monopoly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [monopoly]
GO
/****** Object:  Table [dbo].[Boxes]    Script Date: 15.11.2024 15:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxes](
	[Id] [uniqueidentifier] NOT NULL,
	[Width] [decimal](10, 2) NOT NULL,
	[Height] [decimal](10, 2) NOT NULL,
	[Depth] [decimal](10, 2) NOT NULL,
	[Weight] [decimal](10, 2) NULL,
	[ExpirationDate] [date] NULL,
	[ProductionDate] [date] NOT NULL,
	[PalletId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pallets]    Script Date: 15.11.2024 15:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pallets](
	[Id] [uniqueidentifier] NOT NULL,
	[Width] [decimal](10, 2) NOT NULL,
	[Height] [decimal](10, 2) NOT NULL,
	[Depth] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Pallets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
